body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #f8f8f8;
}

p {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

::selection {
    background-color: #f69d33;
    color: #fff; /* Couleur du texte lors de la sélection */
}

#confetti-canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 999; /* Assurez-vous que le canva est au-dessus de tous les autres éléments */
}

.container {
    text-align: center;
    margin-top: 20px;
}

.card-container {
    margin-bottom: 35px;
}

.card {
    width: 400px;
    max-width: 90vw;
    height: 260px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    cursor: pointer;
    perspective: 1000px;
    background-color: #fff;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    border-radius: 15px;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 15px;
}

.card-text {
    font-size: 20px;
    font-weight: bold;
    color: #ff6e81;
}

#definitionText {
    font-size: 14px;
    font-weight: bold;
    color: #1C1C1C;
    text-align: justify;
    padding: 16px;
}

.card-back {
    transform: rotateY(180deg);
}

.buttons {
    margin-bottom: 20px;
}

button {
    background-color: #ff6e81;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.05); /* Vous pouvez ajuster le facteur d'échelle selon vos préférences */
}

#resetBtn {
    margin-bottom: 15px;
}

.counters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
}

#knowCount {
    font-size: 16px;
    font-weight: bold;
    color: #78d11e;
    margin-top: 10px;
}

#reviewCount {
    font-size: 16px;
    font-weight: bold;
    color: #dd5f5f;
    margin-top: 10px;
}

#revisedCount {
    font-size: 16px;
    font-weight: bold;
    color: #3498db;
    margin-top: 10px;
}

#completionMessage {
    font-size: 22px;
    font-weight: bold;
    color: #f69d33;
    display: none;
}


#confetti-canvas.hidden {
    visibility: hidden;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

#downloadButton {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: transparent;
    color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#downloadButton:hover {
    background-color: transparent;
}

#copyright {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: default;
    font-family: 'Poppins', sans-serif;
    color: #cc9ad0;
}
