body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.flashcard-container {
    text-align: center;
}

.flashcard {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: transform 0.6s;
}

.flashcard .front,
.flashcard .back {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.repere-name {
    font-size: 20px;
    color: #ff6e81;
}

.repere-definition {
    font-size: 16px;
    color: #1c1c1c;
}

.flashcard .back {
    transform: rotateY(180deg);
}

.next-btn,
.know-btn,
.reset-btn {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
}

.next-btn {
    background-color: #45a049;
}

.know-btn {
    background-color: #9edd5f;
}

.reset-btn {
    background-color: #cc9ad0;
}

.next-btn:hover {
    background-color: #f69d33;
}

.know-btn:hover {
    background-color: #45a049;
}

.reset-btn:hover {
    background-color: #45a049;
}
